In [58]:
# import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
# Creating a data wrangle function.
def wrangle(filepath):
    # importing the dataset.
    df = pd.read_csv(filepath)
    
    #Can see all the columns with this code.
    #pd.pandas.set_option('display.max_rows', None)
    
    # Below code gives percentage of null in every column
    null_percentage = df.isnull().sum()/df.shape[0]*100
    # Below code gives list of columns having more than 60% null
    col_to_drop = null_percentage[null_percentage>60].keys()
    df.drop(col_to_drop, axis=1,inplace=True)
    
    #Removing all the columns which are less than three.
    df.drop(columns=["Street"],inplace = True)
    #Removing columns with high cardinality.
    df.drop(columns=["Neighborhood","Exterior2nd","Utilities","CentralAir"],inplace=True)
    
    return df

In [60]:
df = wrangle("train.csv")

In [61]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,Condition1,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Reg,Lvl,Inside,Gtl,Norm,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Reg,Lvl,FR2,Gtl,Feedr,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,IR1,Lvl,Inside,Gtl,Norm,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,IR1,Lvl,Corner,Gtl,Norm,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,IR1,Lvl,FR2,Gtl,Norm,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [62]:
df.shape

(1460, 72)

In [63]:
#Statement to check high and low cardinality.
df.select_dtypes("object").nunique()

MSZoning          5
LotShape          4
LandContour       4
LotConfig         5
LandSlope         3
Condition1        9
Condition2        8
BldgType          5
HouseStyle        8
RoofStyle         6
RoofMatl          8
Exterior1st      15
MasVnrType        4
ExterQual         4
ExterCond         5
Foundation        6
BsmtQual          4
BsmtCond          4
BsmtExposure      4
BsmtFinType1      6
BsmtFinType2      6
Heating           6
HeatingQC         5
Electrical        5
KitchenQual       4
Functional        7
FireplaceQu       5
GarageType        6
GarageFinish      3
GarageQual        5
GarageCond        5
PavedDrive        3
SaleType          9
SaleCondition     6
dtype: int64

In [64]:
#Save to csv file.
df.to_csv("PremierProject.csv")

In [65]:
#Importing the clean data.

In [66]:
df1 = pd.read_csv("PremierProject.csv")

In [67]:
df1.head()

,Unnamed: 0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,1,60,RL,65.0,8450,Reg,Lvl,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,1,2,20,RL,80.0,9600,Reg,Lvl,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,2,3,60,RL,68.0,11250,IR1,Lvl,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,3,4,70,RL,60.0,9550,IR1,Lvl,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,4,5,60,RL,84.0,14260,IR1,Lvl,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [68]:
df.shape

(1460, 72)

In [69]:
#Explore the data.

In [70]:
#To check the information of specific column.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 72 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   LotShape       1460 non-null   object
 6   LandContour    1460 non-null   object
 7   LotConfig      1460 non-null   object
 8   LandSlope      1460 non-null   object
 9   Condition1     1460 non-null   object
 10  Condition2     1460 non-null   object
 11  BldgType       1460 non-null   object
 12  HouseStyle     1460 non-null   object
 13  OverallQual    1460 non-null   int64
 14  OverallCond    1460 non-null   int64
 15  YearBuilt      1460 non-null   int64
 16  YearRemodAdd   1460 non-null   int64
 17  RoofStyle      1460 non-null   object
 18  RoofMatl       1460 non-null   object
 19  Exterior1st    1460 non-null   object
 20  MasVnrType     1452 non-null   object
 21  MasVnrArea     1452 non-null   float64
 22  ExterQual      1460 non-null   object
 23  ExterCond      1460 non-null   object
 24  Foundation     1460 non-null   object
 25  BsmtQual       1423 non-null   object
 26  BsmtCond       1423 non-null   object
 27  BsmtExposure   1422 non-null   object
 28  BsmtFinType1   1423 non-null   object
 29  BsmtFinSF1     1460 non-null   int64
 30  BsmtFinType2   1422 non-null   object
 31  BsmtFinSF2     1460 non-null   int64
 32  BsmtUnfSF      1460 non-null   int64
 33  TotalBsmtSF    1460 non-null   int64
 34  Heating        1460 non-null   object
 35  HeatingQC      1460 non-null   object
 36  Electrical     1459 non-null   object
 37  1stFlrSF       1460 non-null   int64
 38  2ndFlrSF       1460 non-null   int64
 39  LowQualFinSF   1460 non-null   int64
 40  GrLivArea      1460 non-null   int64
 41  BsmtFullBath   1460 non-null   int64
 42  BsmtHalfBath   1460 non-null   int64
 43  FullBath       1460 non-null   int64
 44  HalfBath       1460 non-null   int64
 45  BedroomAbvGr   1460 non-null   int64
 46  KitchenAbvGr   1460 non-null   int64
 47  KitchenQual    1460 non-null   object
 48  TotRmsAbvGrd   1460 non-null   int64
 49  Functional     1460 non-null   object
 50  Fireplaces     1460 non-null   int64
 51  FireplaceQu    770 non-null    object
 52  GarageType     1379 non-null   object
 53  GarageYrBlt    1379 non-null   float64
 54  GarageFinish   1379 non-null   object
 55  GarageCars     1460 non-null   int64
 56  GarageArea     1460 non-null   int64
 57  GarageQual     1379 non-null   object
 58  GarageCond     1379 non-null   object
 59  PavedDrive     1460 non-null   object
 60  WoodDeckSF     1460 non-null   int64
 61  OpenPorchSF    1460 non-null   int64
 62  EnclosedPorch  1460 non-null   int64
 63  3SsnPorch      1460 non-null   int64
 64  ScreenPorch    1460 non-null   int64
 65  PoolArea       1460 non-null   int64
 66  MiscVal        1460 non-null   int64
 67  MoSold         1460 non-null   int64
 68  YrSold         1460 non-null   int64
 69  SaleType       1460 non-null   object
 70  SaleCondition  1460 non-null   object
 71  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(34)
memory usage: 821.4+ KB

In [71]:
#split the data into training and test set.
feature = ["YrSold"]
X = df[feature]
target = ["SalePrice"]
y = df[target]

In [72]:
#splitting the dataset to trainingset and test set.
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [73]:
#Build Model

In [74]:
#Baseline.

In [75]:
y_mean = y_train.mean()
y_mean

SalePrice    181438.534247
dtype: float64

In [76]:
y_pred_baseline = [y_mean] * len(y_train)

In [105]:
#Calculating baseline MAE Mean Absolute Error.
from sklearn.metrics import mean_absolute_error
baseline_mae = mean_absolute_error(y_train,y_pred_baseline)
print("Mean apt price:", round(y_mean,2))
print("Baseline MAE:", round(baseline_mae,2))

Mean apt price: SalePrice    181438.53
dtype: float64
Baseline MAE: 56108.37

In [107]:
# Calculating Residual sum of square.
rss = np.sum(np.square(y_test - y_pred))
round(rss,2)

SalePrice    3.130113e+12
dtype: float64

In [108]:
# Root mean squared error.
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
round(rmse,2)

84536.25

In [115]:
#Importing Ridge regression ML.

In [116]:
from sklearn.linear_model import Ridge
rdge = Ridge(alpha=0.1)
rdge.fit(X_train,y_train)

Ridge(alpha=0.1)

In [117]:
y_pred = rdge.predict(X_test)

In [118]:
len(y_pred)

438

In [119]:
#calcuating the mae of Machine learning model.

In [120]:
from sklearn.metrics import mean_absolute_error
mae1 = mean_absolute_error(y_test,y_pred)
print("Mean apt price:", round(y_mean,2))
print("Baseline MAE:", round(mae1,2))

Mean apt price: SalePrice    181438.53
dtype: float64
Baseline MAE: 60951.62